<div id="<%= dom_id concesionarium %>">
  <p>
   
  <strong><%= concesionarium.nombre %></strong>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= concesionarium.direccion %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= concesionarium.telefono %>
  </p>
</div>
