<header>
<%= link_to products_path do %>
        <text> Regresar  ---  </text>
    <% end %>
        <%= link_to t('.concesionaria'), concesionaria_path %>
        <text> --- </text>
        <%= link_to t('.auto'), autos_path %>

</header>

<%= link_to autos_path do %>
    <h2>Bienvenido, veamos los autos disponibles</h2>
<% end %>

